*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    margin-bottom: 20px;
}

label{
    display: block;
    font-size: 14px;
    color: #777;
}

input{
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button{
    cursor: pointer;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover{
    background: white;
    color:black
}

button:disabled{
    cursor: default;
    background: #7c5cbf94;
}

.centered-form{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px;
    background: white;
    padding: 24px;
    width: 250px;
}

.centered-form button{
    width: 100%;
}

.centered-form input{
    margin-bottom: 16px;
    width: 100%;
}